*{
    padding:0;
    margin:0;
}

/* avtar */
.avtar-pos{
    bottom: -60px !important;
    left: 26px;
    box-shadow: 0px 0px 5px 5px #00000021;
}
.coverImg{
    box-shadow: 0px 3px 7px 0px #0000004d;
}

/* intro*/
.top-intro{
    padding-left: 10rem;
    padding-right: 13px;
}
.eachSection{
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.danger{
    color: red;
}

