/* this is navigation css */
@import '../variable.css';
.sinup-btn{
    margin-right: .89rem;
    padding: .35rem .6rem;
    transition: .2s;
}
.sinup-btn:hover{
    transition: .3s;
    background-color: var(--normal-hover);
}
.home-login-btn-mp{
    margin-right: .89rem;
    padding: .35rem 1.5rem;
}
.login-btn{
    
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    /* background-color: var(--primary-color); */
    transition: .2s;
}
.login-btn:hover{
    transition: .2s;
    background-color: var(--primary-hover);
}
.Mainlogo{
    max-width: 4rem;
    min-width: 1.75rem;
    filter: hue-rotate( 445deg );
    margin-right: 2px;
}

.logoName{
    margin-left: 2px;
}

/* utility  */
.fw-bold {
    font-weight: 500!important;
}

/* when login   */
/* search  */
.searchHead{
    min-width: 515px;
    max-width: 650px;
}
.searchsubHead{
    max-width: 300px;
    min-width: 200px;
    position:relative;
}
.searchicon{
    position: absolute;
    top: 5px;
    color: #a2a2a2;
    left: 7px;
}
.navright{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline-block;
}
.dropdown-menu li {
    display: unset;
}
ul li a{
    padding: .2rem 1rem;
    text-decoration: none;
    color: black;

}
.navright ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: .2rem;
}
.navright ul li a i{
    font-size: 1.25rem;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: var(--secud-primary-hover);
}
.search{
    background-color: var(--search-background);
    transition: 1.5s;
}
.navController nav input:focus {
    min-width: 500px;
    transition: 5s;
    /* background-color: var(--search-background); */

}
input {
    transition: .2s !important;
    /* background-color: var(--search-background); */

}
.navController{
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 123;
    background: white;
    border: 2px solid var(--search-background);
}
.navController nav{
    margin:0 6rem;
    /* padding: .5rem  0 !important; */
}
header .navController nav input{
    height: 2.1rem;
    padding-left: 2rem;
}

li a span{
    font-size: .8rem;
    font-weight: 200;
}