/* all are small class are hare  */
@import './variable.css';

*{
    padding: 0;
    margin: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

p{
    margin: 0;
}
a{
    text-decoration: none;
}
label {
    font-weight: bold;
    font-size: .88rem;
}
.bg-color{
    background-color: var(--primary-bg);
}
.mainpage{
    height: 94vh;
    width: 100vw;
}

.logo{
    width: 1rem;
}
.vh-6{
    height: 6vh;
}
.footerText{
    /* margin: 0rem 1.5rem; */
    font-size: smaller;
}
.smallfont{
    font-size: smaller;
    margin: 1rem 10px;
}
#copymark{
    font-size: smaller;
    margin: auto;
    margin-left: -9px;
}
.footerlogo-box{
    font-family: var(--first-heading);
    font-weight: 900;
}
footer .footerlogo{
    filter: brightness(0.5) !important;
    width: 20%;
    /* height: 85%; */
}
footer .footerlogo-box{
    text-align: left;
    width: 70%;
    ;
}
.footerlogo-box span{
    color: var(--primary-color);
}
footer .footerlogo-box span{
    color: black !important;
}
#singup{
    background-color: white;
    display: inline-block;
}
.form-btn-width100{
    width: 100%;
}
.form-btn-width70{
    width: 70%;
}
.form-btn-radius{
    border-radius: 1.6rem;
}
.btn-submit{
    background-color: var(--primary-color);
    color: white;
    /* font-weight: 700; */
    
}
/*  diveder for singup and login page  */
.divider{
    position: relative;
}
.divider::before{
    content: '';
    position: absolute;
    top: 14.99px;
    left: 0;
    right: 200px;
    bottom: 8px;
    background:#ada6a696;
}
.divider::after{
    content: '';
    position: absolute;
    top: 14.99px;
    left: 200px;
    right: 0;
    bottom: 8px;
    background:#ada6a696;
}
.a-deco-non{
    text-decoration: none;
}
.a-primary{
    color: var(--primary-color);
}
.authrizeArea{
    width: 60%;
    padding: 1.5rem;
    border-radius: .6rem;
}
.authrizeArea-btn-p{
    padding: .7rem 0px
}

/* font style  */
.fw-bold {
    font-weight: 500!important;
}
.first-heading{
    font-family: var(--first-heading);
    font-weight: 400;
}
.first-heading-size{
    font-size: 2.3rem;
}
.secund-heading{
    font-family: var(--secund-heading);
    font-weight: 200;
}
.secund-heading-size{
    font-size: 2rem;
}
.font-s1p3{
    font-size: 1.3rem;
}
.f-115rm{
    font-size: 1.15rem;
}
.small-text{
    font-family: var(--first-heading);
    /* font-weight: 200; */
    font-size: 13px;
}
.font-p9{
    font-size: .9rem;
}

/* tree buton hover  */
.normal-btn{ /* no backgourd*/
    transition: .2s;
}
.full-primary{/* purple backgourd*/
    transition: .2s;
    color: white;
    background-color: var(--primary-color);
}
.outline-primary{ /* no background puple border*/
    transition: .2s;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.normal-btn:hover{
    transition: .2s;
    background-color: var(--normal-hover);
}
.full-primary:hover{
    transition: .2s;
    background-color: var(--full-primary-hover);
    color:white !important;
}
.outline-primary:hover{
    transition: .2s;
    background-color: var(--primary-hover);
}
.primary-input-style{
    height: 2rem;
    border: 2px solid var(--primary-color);
}

.primary-shadow{
    transition: .3s;
}
.primary-shadow:hover{
    transition: .5s;
    box-shadow: 3px 0px 13px 8px #f3ebf3;
    transform: scale(1.025);
}
.secundry-shadow{
    box-shadow: 2px 3px 25px -14px;
}
.f-14px{
    font-size: 14px !important;
}

.symbol{
    background: purple;
    color: white;
    border-radius: 3px;
    font-size: 1.19rem;
    padding: 1px;
    margin-left: 2.5px;
}
.symbofeed{
    padding: .15rem;
    font-size: 1.37rem;
}
footer .symbol{
    background: black;
    color: white;
    padding: 1px;
    margin-left: 1.7px;
    border-radius: 5px;
    font-size: 0.85rem;
}
footer p{
    margin-top: 0;
    margin-bottom: 0;
}
.minmax-90100{
    min-width: 90%;
    max-width: 100%;
}
.hight-non{
    height: unset !important;
}
.width-non{
    width: unset !important;
}
.imgViwer {
    height: 15%;
}
.coverImg{
    position: relative;
}
.cover{
    width:100%;
    height: 15rem;
    object-fit: cover;
    object-position: top;
}
.profile{
    position: absolute;
    bottom: 0;
    overflow: hidden;
    left: 0px;
    align-items: center;
    justify-content: center;
    /* max-height: 8rem;
    min-height: 4rem;
    max-width: 8rem;
    min-width: 4rem; */
    height: 7rem;
    width: 7rem;
    border: 3px solid white;
    /* width: 4rem; */
    /* height: 4rem; */
    background: white;
}
.orglogo{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    border: 3px solid white;
    /* width: 4rem; */
    /* height: 4rem; */
    background: white;

}

.profileImg{
    width: 100%;
    height: 100%;
    /* border: 3px solid white; */
    border-radius: 50rem;
    border-spacing: unset;
    object-fit: cover;
}
.ProfilCamra{
    transition: .3s;
    position: absolute;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    border-radius: 50rem;
    box-shadow: 0px 0px 16px 6px rgb(27 27 27 / 22%);
    background: rgb(27 27 27 / 22%);
    transition: .3s;
}
.ProfilCamra i{
    cursor: pointer;
}
.ProfilCamra:hover {
    box-shadow: 0px 0px 9px 15px rgb(13 13 13 / 22%);
    background: rgb(27 27 27 / 22%);
    transition: .3s;
    transform: scale(1.2);
}

.coverImgCamra{
    transition: .3s;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    border-radius: 50rem;
    box-shadow: 0px 0px 16px 6px rgb(27 27 27 / 22%);
    background: rgb(27 27 27 / 22%);
    transition: .3s;
}
.coverImgCamra i{
    cursor: pointer;
}
.coverImgCamra:hover {
    box-shadow: 0px 0px 9px 15px rgb(13 13 13 / 22%);
    background: rgb(27 27 27 / 22%);
    transition: .3s;
    transform: scale(1.3);
}

.required::after{
    content: '*';
    color: red;
}
/* .form-checkou-input:focus{
    border-color: #fe86ee;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
} */

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(156 39 176 / 25%) !important;
}
.form-check-input:checked {
    background-color: #9c27b0 !important;
    border-color: #9c27b0 !important;
}
.form-control:focus , .form-select:focus, .form-check-input:focus{
    border-color: #9c27b0 !important;
    box-shadow: 0 0 0 0.25rem rgb(156 39 176 / 32%) !important;
}
.form-select:focus {
    outline: 0;
}

.showHide{
    position: absolute;
    top: 16px;
    right: 15px;
    cursor: pointer;
}

/* 1rem border radius   */
.br-1rem{
    border-radius: 1rem;
}

/* body margin  */
.content-body-padding{
    padding-top: 8rem;
    background-color: var(--primary-bg);
}

.editIcon{
    float: right;
    font-size: 1.3rem;
    transition: .5s;
}
.editIcon:hover{
    transform: scale(1.23);
    transition: .5s;
}
.iconT{
    transition: .5s;
}
.iconT:hover{
    transform: scale(1.23);
    transition: .5s;
}

.cursor-pointer{
    cursor: pointer;
}
.pr-3{
    padding-right: 3rem !important;
}

.allert-top-center-position{
    position: fixed;
    left: 46%;
    z-index: 8888;
}
.z9999{
    z-index: 9999;
}
