@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;400;900&family=Montserrat&display=swap');

body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif !important;
}
:root{
    --primary-color:purple;
    --primary-hover:rgba(128, 0, 128, 0.083);
    --full-primary-hover:#bd78bd;
    --secud-primary-hover:#f9edf9;
    --search-background:#ced4da7b;
    --normal-hover:rgba(191, 191, 191, 0.515);
    --primary-bg: #f1f1eb;
    --first-heading:'Libre Franklin', sans-serif;;
    --secund-heading:'Montserrat', sans-serif;
}